* {
  margin: 0;
}
.navbar__logo {
  background-image: url("./5841c49ea6515b1e0ad75aa6.png");
  width: 80px;
}
.navbar__wrapper {
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
}
.navbar__primary__link ul {
  display: flex;
}
.navbar__secondary__link ul {
  display: flex;
}
ul > li {
  margin: 15px;
}
ul {
  list-style: none;
}

.navbar__wrapper a {
  color: #2d2d2d;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
}
