* {
  margin: 0;
}
.navbar__logo {
  /* background-image: url("./logo.png"); */
  align-items: center;
}
.navbar__logo img {
  margin-top: 4px;
}
.navbar__wrapper {
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__right {
  display: flex;
  justify-content: flex-start;
}
.navbar__primary__link ul {
  display: flex;
  margin-left: -20px;
}
.navbar__secondary__link ul {
  display: flex;
}
ul > li {
  margin: 10px 15px;
}
ul {
  list-style: none;
}

.navbar__wrapper a {
  font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto,
    sans-serif !important;
  font-size: 0.875rem !important;
  letter-spacing: 0.8 !important;
  font-weight: 400 !important;
  line-height: 1.43 !important;
  color: #2d2d2d;
  display: flex;
  align-items: center;
  margin-top: 3px;
}
/* .navbar__wrapper .active {
  border-bottom: 2px solid transparent !important;
} */

.form__wrapper {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  align-items: flex-end;
}

.form__wrapper p {
  font-size: 11px;
  color: #767676;
  margin: 5px 0px;
}
.form__wrapper label {
  font-size: 23px;
  font-family: Helvetica, sans-serif;
  color: #2d2d2d;
  font-size: 1.4375rem;
  letter-spacing: -0.1px;
  font-weight: 700;
  line-height: 1.05;
}
input[type="text"] {
  padding: 14px;
  margin: 5px 20px 0px 0px;

  border-radius: 0.5rem;
  border: 1px solid #d6d6d6;
  width: 90.5% !important;
}
.form__button button {
  background-color: #1c56ac !important;
  border-color: #1c56ac !important;
  color: #fff !important;
  padding: 10px;
  border-radius: 0.5rem;
}
.SearchForm__whereInput,
.SearchForm__whatInput {
  width: 25%;
}
